body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px"宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

html,
body {
    font-size: 0.2rem;
    height: 100%;
    position: relative;
}

body {
    padding-bottom: 1.2rem;
    box-sizing: border-box;
}

#app {
    height: 100%;
    overflow: auto;
}

[v-cloak] {
    display: none;
}

.message-box {
    box-shadow: 0.1rem 0.1rem 0.3rem #ccc;
}

.message-item {
    line-height: 0.3rem;
    background: #ddd;
    padding: 0.1rem;
    margin-bottom: 0.2rem;
}

.send-box {
    display: flex;
    height: 0.8rem;
    line-height: 0.8rem;
    position: fixed;
    left: 0;
    bottom: 0.2rem;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.send-box-user {
    bottom: 1.2rem;
}

.message-input {
    flex: 1;
    border: 1px solid #ccc;
    outline-style: none;
    padding-left: 0.1rem;
    border-radius: 0;
    border-right: 0;
}

.send-button {
    text-align: center;
    width: 1rem;
    background: orange;
    font-size: 0.3rem;
    user-select: none;
    border-radius: 0.02rem;
}