<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chat room</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <div v-for="message in messages">
            {{ message.message }}
        </div>
        <div>
            <input type="text" v-model="myMessage">
            <div @click="doSend">发送</div>
        </div>
    </div>
</body>

</html>
<script src="./lib/vue.js"></script>
<script src="./lib/socket.io.js"></script>
<script src="./js/app.js"></script>